.container {
  margin: auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
section {
  width: 360px;
  margin: 10px 20px;
  background-color: rgba(0, 0, 0, 0.08);
}
img {
  width: 360px;
}
article {
  height: 520px;
}
.text {
  height: 320px;
  padding: 20px 25px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
}
